# String based questions

In [1]:
# 1. 1. Write a program to reverse a string.

In [1]:
x=input('enter text')
x[::-1]

enter texthello world!

'!dlrow olleh'

In [3]:
#2. Check if a string is a palindrome.
def is_palindrome(y):
    return y == y[::-1]
y="laptop"

if is_palindrome(y):
    print('it is palindrome')
else:
    print('not a palindrome')

not a palindrome

In [5]:
# 3. Convert a string to uppercase.

x1='python is a programming language'
x1.upper()

'PYTHON IS A PROGRAMMING LANGUAGE'

In [6]:
# 4. Convert a string to lowercase
x2='HELLO Everyone'
x2.lower()

'hello everyone'

In [1]:
# 5. Count the number of vowels in a string.
text=input('enter string')
vowel=0
for i in text:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowel=vowel+1
print('number of vowels are')
print(vowel)

enter stringpython
number of vowels are
1

In [3]:
# 6. Count the number of consonants in a string.

w=input('enter text')

consonant=0
for i in w:
    if(i!='a' and i!='e' and i!='i' and i!='o' and i!='u'):
        consonant=consonant+1
print('number of consonant are')
print(consonant)

enter textpython
number of consonant are
5

In [4]:
# 7. Remove all whitespaces from a string.
w1='   hi everyone      '
w1.strip()

'hi everyone'

In [5]:
# 8. Find the length of a string without using the `len()` function.
k=input('enter text')
length=0
for i in k:
    length=length+1
print('length of string is') 
print(length)

enter textcoding
length of string is
6

In [6]:
# 9. Check if a string contains a specific word.

data='My name is Krish'
if 'name' in data:
    print("the string contains 'name'")
else:
    print('the string does not contain')

the string contains 'name'

In [7]:
# 10. Replace a word in a string with another word.
string='i like to code in java'
string.replace('java','python')

'i like to code in python'

In [1]:
# 11. Count the occurrences of a word in a string.
k='hello, my name is krish'
k.count('k')

1

In [14]:
# 12. Find the first occurrence of a word in a string.
string='python is the best coding language . python is easy than any other language.'
string.find('python')

0

In [15]:
# 13. Find the last occurrence of a word in a string.
word='this is world. we live in this world '
word.count('world')

2

In [16]:
# 14. Split a string into a list of words.
string='data science include data analytics'
string.split()

['data', 'science', 'include', 'data', 'analytics']

In [17]:
# 15. Join a list of words into a string.
l=['python','language','is','used','for','data','science']
" ".join(l)

'python language is used for data science'

In [18]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
string='peanut butter is better than normal butter'
string.replace(' ','_')

'peanut_butter_is_better_than_normal_butter'

In [19]:
# 17. Check if a string starts with a specific word or phrase.
string='mobile phones are so expensive'
string.startswith('mobile')

True

In [20]:
# 18. Check if a string ends with a specific word or phrase.
string='my coding speed is improving'
string.endswith('speed')

False

In [21]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
data='python language'
data.title()

'Python Language'

In [26]:
# 20. Find the longest word in a string.
w='the largest word in string is with more numbers'
l=w.split()
max(l,key=len)

'largest'

In [29]:
# 21. Find the shortest word in a string.
string='what is the smallest word'
k=string.split()
min(k,key=len)

'is'

In [45]:
# 22. Reverse the order of words in a string.
rev='reverse this string by python code'
l=rev.split()
l.reverse()
print(" ".join(l))

code python by string this reverse

In [50]:
# 23. Check if a string is alphanumeric.
d='number125'
d.isalnum()

True

In [52]:
# 24. Extract all digits from a string.
string='there are 4 people and 6 kids'
l=[]
x=string.split()
for i in x:
    if i.isnumeric():
        l.append((i))
str(l)

"['4', '6']"

In [53]:
# 25. Extract all alphabets from a string.
string='there are 48 rooms'
k=[]
x=string.split()
for i in x:
    if i.isalpha():
        k.append((i))
str(k)

"['there', 'are', 'rooms']"

In [54]:
# 26. Count the number of uppercase letters in a string.
string='THE laptop i3 is REQUIRED'
x=0
for i in string:
    if(i.isupper()):
        x=x+1
print('the number of upper case are',x)

the number of upper case are 11

In [55]:
# 27. Count the number of lowercase letters in a string.
string='How many are'
z=0
for i in string:
    if(i.islower()):
        z=z+1
print('the  number of lower case are',z)

the  number of lower case are 9

In [59]:
# 28. Swap the case of each character in a string.
string='For These Type Of Question'
string.swapcase()

'fOR tHESE tYPE oF qUESTION'

In [62]:
# 29. Remove a specific word from a string.
string='python is coding language'
string.lstrip('python')

' is coding language'

In [2]:
# 30. Check if a string is a valid email address.

import re

def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern,email):
        return True
    else:
        return False

x='pythoncode@gmail.com'
y='pythoncode'

result1=valid_email(x)
result2=valid_email(y)

print(result1," ",x)
print(result2," ",y)

True   pythoncode@gmail.com
False   pythoncode

In [4]:
# 31. Extract the username from an email address string.

def extract_username(email):
    user_name= email.split('@')[0]
    return user_name

x='pyhton123@gmail.com'

result=extract_username(x)
print(result)

pyhton123

In [6]:
# 32. Extract the domain name from an email address string.

def domain_name(x):
    domain= x.split('@')[1]
    return domain

z='pyhton232@yahoo.com'

result=domain_name(z)
print(result)

yahoo.com

In [7]:
# 33. Replace multiple spaces in a string with a single space

def single_space(y):
    clean_string=' '.join(y.split())
    return clean_string

x='pyhton    can be    coded   anywhere     '

result=single_space(x)
print(result)

pyhton can be coded anywhere

In [8]:
# 34. Check if a string is a valid URL.
from urllib.parse import urlparse

def validation_url(x):
    try:
        result = urlparse(x)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False
    
website1='https://www.laptop.com'
website2='laptopistech'

result1=validation_url(website1)
result2=validation_url(website2)

print(website1,"-",result1)
print(website2,"-",result2)

https://www.laptop.com - True
laptopistech - False

In [9]:
# 35. Extract the protocol (http or https) from a URL string.
def protocol_url(x):
    protocol= x.find("://")

    if protocol != -1:
        z= x[:protocol]
        return z
    else:
        return None
    
url1='https://www.google.com'
url2='http://www.fake.com'

result1=protocol_url(url1)
result2=protocol_url(url2)

print(result1)
print(result2)

https
http

In [1]:
# 36. Find the frequency of each character in a string.

In [2]:
def char_string(x):
    frequency = {}  

    for char in x:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency


z = "hello world"


char_freq = char_string(z)


for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [3]:
# 37. Remove all punctuation from a string
import string

def delete_punctuation(x):
 
    translator = str.maketrans("", "", string.punctuation)

    
    clean_string = x.translate(translator)

    return clean_string


input_str = "Hello, world! How's it going?"


cleaned_str = delete_punctuation(input_str)


print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [4]:
# 38. Check if a string contains only digits.
def digits_only(x):
    return x.isdigit()


string1 = "12345"
string2 = "Hello123"
string3 = "456.789"


result1 = digits_only(string1)
result2 = digits_only(string2)
result3 = digits_only(string3)


print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [5]:
# 39. Check if a string contains only alphabets.
def only_alpha(x):
    return x.isalpha()

inpt1='hello'
inpt2='5684'
inpt3='windows'

reslt1=only_alpha(inpt1)
reslt2=only_alpha(inpt2)
reslt3=only_alpha(inpt3)

print(f"'{inpt1}' contains only alphabets:", reslt1)
print(f"'{inpt2}' contains only aplhabtes:", reslt2)
print(f"'{inpt3}' contains only alphabets:", reslt3)

'hello' contains only alphabets: True
'5684' contains only aplhabtes: False
'windows' contains only alphabets: True

In [6]:
# 40. Convert a string to a list of characters.

def convert_list(x):
    char=list(x)
    return char

inpt1='python language'

reslt1=convert_list(inpt1)

print('original string',inpt1)
print('characters in list',reslt1)

original string python language
characters in list ['p', 'y', 't', 'h', 'o', 'n', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']

In [8]:
# 41. Check if two strings are anagrams.
def anagrams(str1, str2):
    
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    
    return sorted(str1) == sorted(str2)


string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"


result1 = anagrams(string1, string2)
result2 = anagrams(string3, string4)


print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [9]:
# 42. Encode a string using a Caesar cipher.

def caesar_cipher(text, shift):
  
  

  
  encoded_text = ""

  
  for char in text:
    
    if char.isalpha():
      
    
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
    
      encoded_char = char

    
    encoded_text += encoded_char

  
  return encoded_text


text = "Hello, world!"
shift = 3


encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [10]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    

  
    decoded_text = ""

  
    for char in text:
    
        if char.isalpha():
      
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
          
            decoded_char = char

      
        decoded_text += decoded_char

  
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [11]:
# 44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):

    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()


    words = clean_string.split()

   
    word_counter = Counter(words)

  
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

input_str = "Hello world, hello there! How's the world?"


most_common = most_frequent_word(input_str)


print("Most frequent word:", most_common)

Most frequent word: hello

In [12]:
# 45. Find all unique words in a string.
import re

def unique_words(input_string):
    
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    
    words = set(clean_string.split())

    return words


input_str = "Hello world, hello there! How's the world?"


unique_word_set = unique_words(input_str)


print("Unique words:", unique_word_set)

Unique words: {'hello', 'hows', 'the', 'there', 'world'}

In [13]:
# 46. Count the number of syllables in a string.
import re

def count_syllables(word):
    
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)


word1 = "hello"
word2 = "banana"
word3 = "syllable"


syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)


print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [17]:
 # or this can be solution
string=input('enter text')
v=0

for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        v=v+1
    
print('the number of syllables in string:',v)

enter textbanana
the number of syllables in string: 3

In [18]:
# 47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
  
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    
    match = pattern.search(input_string)

    
    return bool(match)


string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"


result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [19]:
# 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):

    words = input_string.split()

  
    if n >= 1 and n <= len(words):
       
        removed_word = words.pop(n - 1)

   
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None


input_str = "This is an example sentence to test the function."
n_value = 4


modified_str, removed_word = remove_nth_word(input_str, n_value)


print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [22]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_n(input_string, word_to_insert, n):

    words = input_string.split()


    if n >= 0 and n <= len(words):
       
        words.insert(n, word_to_insert)

   
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None


input_str = "This is a test string."
word_to_insert = "sample"
n_value = 3


modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Original string: This is a test string.
Modified string: This is a sample test string.

In [23]:
# 50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
   
    lines = csv_string.split('\n')

   
    result = []

    for line in lines:
       
        fields = line.split(',')

        
        result.append(fields)

    return result


csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"


list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List based practice problem :

In [1]:
# 1. Create a list with integers from 1 to 10.

In [2]:
x_list=[i for i in range(1,11)]

print(x_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 2. Find the length of a list without using the len() function

In [4]:
def len_list(x):
    count=0
    for i in x:
        count+=1
    return count

lst=[1,2,3,4,5]
len_list(lst)

5

In [5]:
# 3. Append an element to the end of a list.

In [6]:
l=[5,10,15,20]

l1=25

l.append(l1)

l

[5, 10, 15, 20, 25]

In [7]:
# 4. Insert an element at a specific index in a list.

In [10]:
l=[1,2,3,5,6,7,8,9]

l1=4

index_num=3

l.insert(index_num,l1)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# 5. Remove an element from a list by its value.

In [12]:
l=[10,20,30,35,40]

remove=35

l.remove(remove)

print('updated list : ',l)

updated list :  [10, 20, 30, 40]

In [13]:
# 6. Remove an element from a list by its index.

In [14]:
l=[10,12,20,30]

index=1

l.pop(index)

print('new list : ',l)

new list :  [10, 20, 30]

In [15]:
# 7. Check if an element exists in a list.

In [16]:
l=[10,20,30,40,50,60,70]

check=20

if check in l:
    print(f'{check} exist in list')
else:
    print(f'{check} does not exist in list')

20 exist in list

In [17]:
# 8. Find the index of the first occurrence of an element in a list.

In [19]:
l=[1,2,3,4,5,6,7]

element=4

index=l.index(4)
print(f'the index of {element} is {index}')

the index of 4 is 3

In [20]:
# 9. Count the occurrences of an element in a list

In [21]:
l=[10,20,30,30,40,30,50,30]

element=30
occur=l.count(element)

print(f'The {element} repeated {occur} times')

The 30 repeated 4 times

In [22]:
# 10. Reverse the order of elements in a list.

In [24]:
l=[10,20,30,40,50]

l.reverse()
l

[50, 40, 30, 20, 10]

In [26]:
# 11. Sort a list in ascending order.

In [27]:
l=[50,10,30,40,60,5]

l.sort()
l

[5, 10, 30, 40, 50, 60]

In [29]:
# 12. Sort a list in descending order.

In [30]:
l=[50,10,30,40,60,5]

l.sort(reverse=True)
l

[60, 50, 40, 30, 10, 5]

In [31]:
# 13. Create a list of even numbers from 1 to 20.

In [32]:
lst=[x for x in range(2,21,2)]

print('even numbers : ',lst)

even numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
# 14. Create a list of odd numbers from 1 to 20.

In [35]:
lst=[x for x in range(1,20,2)]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
# 15. Find the sum of all elements in a list.

In [37]:
lst=[10,20,30,40]

total=sum(lst)

total

100

In [38]:
# 16. Find the maximum value in a list.

In [2]:
lst=[10,20,30,40]

maximum=max(lst)
maximum

40

In [3]:
# 17. Find the minimum value in a list.

In [4]:
lst=[100,20,1,23,12]

minimum=min(lst)

print('the minimum value is',minimum)

the minimum value is 1

In [5]:
# 18. Create a list of squares of numbers from 1 to 10.

In [6]:
lst=[x**2 for x in range(1,11)]

print('list of squares',lst)

list of squares [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# 19. Create a list of random numbers.

In [8]:
import random

lst=[random.randint(1,50) for i in range(8)]

lst

[28, 50, 1, 35, 10, 50, 22, 24]

In [9]:
# 20. Remove duplicate from list

In [10]:
lst=[10,20,30,20,50,40,80,20]

unique=list(set(lst))
unique

[40, 10, 80, 50, 20, 30]

In [11]:
# 21. Find the common elements between two lists.

In [12]:
l1=[10,20,10,30,40,50]

l2=[90,80,50,20]

common=[i for i in l1 if i in l2]

print('the common elements between two lists : ',common)

the common elements between two lists :  [20, 50]

In [13]:
# 22. Find the difference between two lists.

In [14]:
l1=[10,20,30,40,50]
l2=[10,20,60,70,80]

diff=list(set(l1).difference(l2))

print('element in l1 but not in l2 : ', diff)

element in l1 but not in l2 :  [50, 40, 30]

In [15]:
# 23. Merge two lists.

In [16]:
l1=[1,2,3,4]
l2=[3,4,5,6]

merge_list=l1+l2

print('merged list: ',merge_list)

merged list:  [1, 2, 3, 4, 3, 4, 5, 6]

In [17]:
# 24. Multiply all elements in a list by 2

In [18]:
l=[10,20,30,40,50]

list_2=[x*2 for x in l]

list_2

[20, 40, 60, 80, 100]

In [5]:
# 25. Filter out all even numbers from a list

In [6]:
l=[1,2,3,4,5,6,7,8,9]

odd_list=[x for x in l if x%2!=0]

odd_list

[1, 3, 5, 7, 9]

In [7]:
# 26. Convert a list of strings to a list of integers.

In [8]:
lst=['10','20','30','40','50']

integer=[int(x) for x in lst]

integer

[10, 20, 30, 40, 50]

In [9]:
# 27. Convert a list of integers to a list of strings.

In [10]:
l=[1,2,3,4,5,6,7,8,9]
string=[str(x) for x in l]

string

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [11]:
# 28. Flatten a nested list

In [13]:
def flat_list(x):
    flatten_list=[]
    
    for i in x:
        if type(i)==list:
            flatten_list+=flat_list(i)
            
        else:
            flatten_list.append(i)
    return flatten_list

lst=[1,2,3,[4,5,6],[7,8,9]]

flat_list(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 29. Create a list of the first 10 Fibonacci numbers

In [16]:
def fibo(x):
    fibo_list=[0,1]
    
    for i in range(2,x):
        next_fib=fibo_list[i-1]+fibo_list[i-2]
        fibo_list.append(next_fib)
        
    return fibo_list

fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
# 30. Check if a list is sorted.

In [20]:
def sort(x):
    
    for i in range(1,len(x)):
        
        if x[i] < x[i-1]:
            return False
        
    return True

lst=[10,20,30,50,40]

if sort(lst):
    print('the list is sorted')
else:
    print('the list is not sorted')

the list is not sorted

In [21]:
# 31. Rotate a list to the left by n positions

In [23]:
def rotate(lst,n):
    rotated_list=lst[n:]+lst[:n]
    return rotated_list

rotate([1,2,3,4,5,6],2)

[3, 4, 5, 6, 1, 2]

In [1]:
# 32. Rotate a list to the right by n positions.

In [4]:
def rotate_right(lst,n):
    right=lst[-n:]+lst[:-n]
    return right

rotate_right([1,2,3,4,5,6],1)

[6, 1, 2, 3, 4, 5]

In [5]:
# 33. Create a list of prime numbers up to 50.

In [7]:
def prime_num(n):
    prime=[]
    for x in range(2,n):
        for y in range(2,x):
            if x%y==0:
                break
        else:
            prime.append(x)
    return prime

prime_num(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [8]:
# 34. Split a list into chunks of size n.

In [9]:
def divide_chunks(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
n = 3
x = list(divide_chunks(my_list, n))
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [10]:
# 35. Find the second largest number in a list.

In [12]:
lst=[5,1,30,20,25,5,4,40]

sort_list=sorted(set(lst))

if len(sort_list)>=2:
    second_largest=sort_list[-2]
    print('second largest number is ',second_largest)

second largest number is  30

In [13]:
# 36. Replace every element in a list with its square

In [14]:
lst=[1,2,3,4,5]

sq_list=[x*x for x in lst]

print('squared list :',sq_list)

squared list : [1, 4, 9, 16, 25]

In [15]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [17]:
def convert(lst):
    return {lst[i]: i for i in range(len(lst))}
l1=['apple','banana','cherry','grape']

convert(l1)

{'apple': 0, 'banana': 1, 'cherry': 2, 'grape': 3}

In [18]:
# 38. Shuffle the elements of a list randomly.

In [20]:
import random
l1=[1,2,3,4,5,6,7,8,9,10]

random.shuffle(l1)
l1

[7, 9, 10, 6, 1, 3, 5, 2, 4, 8]

In [21]:
# 39. Create a list of the first 10 factorial numbers

In [23]:
def factor(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factor(n-1)

fact_num=[factor(i) for i in range(10)]

print('list of 10 factorial numbers : ',fact_num)

list of 10 factorial numbers :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [24]:
# 40. Check if two lists have at least one element in common

In [25]:
def common_item(l1,l2):
    for item in l1:
        if item in l2:
            return True
    return False

x=[1,2,3,4,5]
y=[4,5,6,7,8]

if common_item(x,y):
    print('It has atleast one item common')
else:
    print('No item in common')

It has atleast one item common

In [26]:
# 41. Remove all elements from a list

In [30]:
lst=[1,2,3,4,5]

x=lst.clear()

print('empty list:',lst)

empty list: []

In [31]:
# 42. Replace negative numbers in a list with 0.

In [33]:
l=[1,2,-3,4,-5]

for i in l:
    if l[i]<0:
        l[i]=0
l

[1, 2, 0, 4, 0]

In [34]:
# 43. Convert a string into a list of words.

In [37]:
string='hello, everyone lets start coding.'

word=string.split()

print('list of words',word)

list of words ['hello,', 'everyone', 'lets', 'start', 'coding.']

In [ ]:
# 44. Convert a list of words into a string

In [38]:
splt=['hello,', 'everyone', 'lets', 'start', 'coding.']

string1=' '.join(splt)

string1

'hello, everyone lets start coding.'

In [39]:
# 45. Create a list of the first n powers of 2.

In [40]:
n=7

power=[2**i for i in range(n)]

power

[1, 2, 4, 8, 16, 32, 64]

In [41]:
# 46. Find the longest string in a list of strings

In [42]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest=''
for i in string_list:
    if len(i)>len(longest):
        longest=i
longest

'elderberry'

In [43]:
# 47. Find the shortest string in a list of strings

In [45]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest=string_list[0]

for i in string_list:
    if len(i)<len(shortest):
        shortest=i
shortest

'date'

In [46]:
# 48. Create a list of the first n triangular numbers

In [47]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [48]:
# 49. Check if a list contains another list as a subsequence.

In [50]:
def is_part(sub,main):
    sub_index=0
    for i in main:
        if i ==sub[sub_index]:
            sub_index +=1
            if sub_index==len(sub):
                return True
    return False

main=[1,2,3,4,5,6,7,8,9,10]
sub=[2,9]

if is_part(sub,main):
    print('it contains subsequent')
else:
    print('it does not contain subsequent')

it contains subsequent

In [51]:
# 50. Swap two elements in a list by their indices.

In [52]:
l1=[1,2,3,4,5]

index1=2
index2=3

x=l1[index1]
l1[index1]=l1[index2]
l1[index2]=x

l1

[1, 2, 4, 3, 5]

# Tuple based practice problem :

In [1]:
# 1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple=(1,2,3,4,5)

print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
# 2. Access the third element of a tuple.

In [4]:
tupl=(1,2,3,4,5)
third=tupl[2]
print('third element:',third)

third element: 3

In [5]:
# 3. Find the length of a tuple without using the len() function

In [7]:
x=(1,2,3,4,5,6,7,8)
count=0
for i in x:
    count+=1

print('length of x is',count)

length of x is 8

In [9]:
# 4. Count the occurrences of an element in a tuple.

In [10]:
tupl=(10,20,10,20,30,20,40,20)
element=20
count=0
for i in tupl:
    if i==element:
        count+=1
        
print(f'The occurence of {element} is {count} times.')

The occurence of 20 is 4 times.

In [14]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [15]:
tupl=(1,2,3,4,5,6,7,5,8,9,10)
index=None
element=5

for i in range(len(tupl)):
    if tupl[i]==element:
        index=i
        break
        
if index is not None:
    print(f'The index of {element} is {index}')
else:
    print('element not found in tuple')

The index of 5 is 4

In [16]:
# 6. Check if an element exists in a tuple.

In [17]:
tupl=(1,2,3,4,5,6,7,8,9,10)

element=4

if element in tupl:
    print(f'the {element} exist in tupl')
else:
    print('it does not exist')

the 4 exist in tupl

In [18]:
# 7. Convert a tuple to a list.

In [19]:
tupl=(1,2,3,4,5,6,7,8,9,10)
lst=list(tupl)

print('the conversion in list:',lst)

the conversion in list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# 8. Convert a list to a tuple.

In [21]:
lst1=[1,2,3,4,5,6]

tupl=tuple(lst1)

print('the conversion in tuple:',tupl)

the conversion in tuple: (1, 2, 3, 4, 5, 6)

In [22]:
# 9. Unpack the elements of a tuple into variables.

In [24]:
tupl=(1,2,3)

var1,var2,var3=tupl

print('var1: ',var1)
print('var2: ',var2)
print('var3: ',var3)

var1:  1
var2:  2
var3:  3

In [25]:
# 10. Create a tuple of even numbers from 1 to 10

In [26]:
l1=[num for num in range(2,11,2)]

tupl=tuple(l1)
print(tupl)

(2, 4, 6, 8, 10)

In [27]:
# 11. Create a tuple of odd numbers from 1 to 10.

In [28]:
l=[i for i in range(1,10,2)]
tupl_odd=tuple(l)

print(tupl_odd)

(1, 3, 5, 7, 9)

In [ ]:
# 12. Concatenate 2 tuples.

In [29]:
t1=(1,2,3)
t2=(4,5,6)

concatenate=t1+t2
print(concatenate)

(1, 2, 3, 4, 5, 6)

In [30]:
# 13. Repeat a tuple three times

In [31]:
t1=(1,2,3)
repeat=t1*3

print(repeat)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [32]:
# 14. Check if a tuple is empty

In [33]:
empty=()
non_empty=(1,2,3,4,5,6)

if not empty:
    print('the tuple is empty')
else:
    print('the tuple is not empty')
    
if not non_empty:
    print('the tuple is empty')
else:
    print('the tuple is not empty')

the tuple is empty
the tuple is not empty

In [34]:
# 15. Create a nested tuple

In [35]:
t=((1,2,3),('a','b','c'),(True,False))
print('nested tuple: ',t)

nested tuple:  ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [36]:
# 16. Access the first element of a nested tuple.

In [37]:
t=((1,2,3),('a','b','c'),(True,False))

first=t[0]
first

(1, 2, 3)

In [38]:
# 17. Create a tuple with a single element.

In [40]:
t1=(1,)

print(t1)

(1,)

In [44]:
# 18. compare two tuples

In [45]:
tuple1=(1,4,1)
tuple2 = (1, 2, 4)


print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

In [46]:
# 19. Delete a tuple.

In [49]:
tuple1=(1,4,1)

del tuple1

In [50]:
# 20. Slice a tuple.

In [52]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


slice_tuple=my_tuple[1:5]

print('slice tuple:',slice_tuple)

slice tuple: (2, 3, 4, 5)

In [53]:
# 21. Find the maximum value in a tuple

In [54]:
t=(1,2,3,4,5,6,7,8)

maximum=max(t)

print('maximum number is ',maximum)

maximum number is  8

In [55]:
# 22. Find the minimum value in a tuple.

In [56]:
t=(1,2,3,4,5,6,7,8)

minimum=min(t)

print('minimum number is ',minimum)

minimum number is  1

In [57]:
# 23. Convert a string to a tuple of characters.

In [58]:
string='data science'

t=tuple(string)

print(t)

('d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

In [59]:
# 24. Convert a tuple of characters to a string.

In [63]:
x=('d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')
string=''.join(x)
string

'data science'

In [64]:
# 25. Create a tuple from multiple data types

In [65]:
tupl=('helo',20.1,False)
tupl

('helo', 20.1, False)

In [66]:
# 26. Check if two tuples are identical

In [67]:
x=(1,2,3)
y=(2,3,4)
z=(1,2,3)

same1=x==y
same2=x==z

print('are identical :',same1)
print('are identical :',same2)

are identical : False
are identical : True

In [68]:
# 27. Sort the elements of a tuple.

In [70]:
t=(2,3,1,3,5,9,0)

sort=sorted(t)
tuple(sort)

(0, 1, 2, 3, 3, 5, 9)

In [71]:
# 28. Convert a tuple of integers to a tuple of strings.

In [73]:
t=(1,2,3,4,5,6,7,8,9,10)

string=tuple(str(i) for i in t)

string

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [74]:
# 29. Convert a tuple of strings to a tuple of integers

In [75]:
t1=('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

integer=tuple(int(i) for i in t1)

integer

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [76]:
# 30. Merge two tuples.

In [77]:
t1=(1,2,3)
t2=(3,4,5)

merge=t1+t2

merge

(1, 2, 3, 3, 4, 5)

In [78]:
# 31. Flatten a nested tuple

In [82]:
def flatten_tuple(n):
    flat=()
    for i in n:
        for item in i:
            flat+=(item,)
    return flat

x=((1,2),(3,4))

flatten_tuple(x)

(1, 2, 3, 4)

In [83]:
# 32. Create a tuple of the first 5 prime numbers.

In [89]:
def is_prime(x):
    if x<2:
        return False
    for i in range(2,int(x**0.5)+1):
        if x%i==0:
            return False
    return True

prime=[]

x=2

while len(prime)<5:
    if is_prime(x):
        prime.append(x)
    x+=1
    
t=tuple(prime)
t

(2, 3, 5, 7, 11)

In [91]:
# 33. Check if a tuple is a palindrome.

In [92]:
def is_palindrome(x):
    return x==x[::-1]

tupl=(1,2,3,2,1)

if is_palindrome(tupl):
    print('Tuple is palindrome')
else:
    print('Tuple is not palindrome')

Tuple is palindrome

In [93]:
# 34. Create a tuple of squares of numbers from 1 to 5

In [94]:
tuple_sq=tuple(x**2 for x in range(1,6))

tuple_sq

(1, 4, 9, 16, 25)

In [95]:
# 35. Filter out all even numbers from a tuple.

In [96]:
x=(1,2,3,4,5,6,7,8,9,10)

odd_num=tuple(i for i in x if i%2!=0)

odd_num

(1, 3, 5, 7, 9)

In [97]:
# 36. Multiply all elements in a tuple by 2.

In [98]:
x=(1,2,3,4,5,6,7,8,9,10)

tupl=tuple(i*2 for i in x )

tupl

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [99]:
# 37. Create a tuple of random numbers

In [102]:
import random

random=tuple(random.randint(1,100) for i in range(5))

random

(16, 73, 86, 62, 57)

In [103]:
# 38. Check if a tuple is sorted.

In [107]:
t=(1,2,3,4,5)

def is_sorted(x):
    for i in range(len(x)-1):
        if x[i]>x[i+1]:
            return False
        
    return True

if is_sorted(t):
    print('tuple is sorted')
else:
    print('tuple is not sorted')

tuple is sorted

In [108]:
# 39. Rotate a tuple to the left by n positions

In [112]:
t=(1,2,3,4,5)

def left_pos(tup,n):
    n=n%len(tup)
    left=tup[n:]+tup[:n]
    return left
n=2

result=left_pos(t,n)
result

(3, 4, 5, 1, 2)

In [113]:
# 40. Rotate a tuple to the right by n positions.

In [114]:
t=(1,2,3,4,5)

def right_pos(tup,n):
    n=n%len(tup)
    right=tup[-n:]+tup[:-n]
    return right
n=2

right_pos(t,n)

(4, 5, 1, 2, 3)

In [1]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [23]:
def fibonaci(n):
    fib=[0,1]
    while len(fib)<n:
        next_number=fibonaci[-1]+fibonaci[-2]
        fib.append(next_number)
    return tuple(fib)


fibonaci(5)

TypeError: 'function' object is not subscriptable

In [24]:
# 42. Create a tuple from user input.

In [26]:
user=input('enter input')

t1=tuple(user)

print('user input in tuple : ',t1)

enter inputhello everyone
user input in tuple :  ('h', 'e', 'l', 'l', 'o', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e')

In [27]:
# 43. Swap two elements in a tuple.

In [29]:
element1=((4,5),(6,7))

element2=[(i[1],i[0]) for i in element1]

print(tuple(element2))

((5, 4), (7, 6))

In [30]:
# 44. Reverse the elements of a tuple.

In [31]:
data=(1,2,3,4,5)

reverse=data[::-1]
reverse

(5, 4, 3, 2, 1)

In [32]:
# 45. Create a tuple of the first n powers of 2.

In [34]:
n=int(input('enter n : '))

power=tuple(2**i for i in range(n))

power

enter n : 6

(1, 2, 4, 8, 16, 32)

In [35]:
# 46. Find the longest string in a tuple of strings.

In [36]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest=max(string_tuple,key=len)

longest

'watermelon'

In [37]:
# 47. Find the shortest string in a tuple of strings.

In [39]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest=min(string_tuple,key=len)

shortest

'kiwi'

In [40]:
# 48. Create a tuple of the first n triangular numbers.

In [41]:
def triangular_numbers(n: int) -> tuple:
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_numbers(5)

(1, 3, 6, 10, 15)

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [42]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False


main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)


sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [43]:
# 50. Create a tuple of alternating 1s and 0s of length n.

In [44]:
n=5

alternating=tuple(i%2 for i in range(n))
alternating

(0, 1, 0, 1, 0)

# Set based problems:

In [45]:
# 1. Create a set with integers from 1 to 5

In [46]:
my_set=set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)

my_set

{1, 2, 3, 4}

In [47]:
# 2. Add an element to a set

In [48]:
element={1,2,3,4,5}

element.add(6)

element

{1, 2, 3, 4, 5, 6}

In [49]:
# 3. Remove an element from a set.

In [50]:
element={1,2,3,4,5}

element.remove(5)

element

{1, 2, 3, 4}

In [51]:
# 4. Check if an element exists in a set.

In [52]:
element={1,2,3,4,5,6,7,8,9,10}

check=int(input('enter number to check : '))

if check in element:
    print(f'{check} exist in {element}')
else:
    print(f'{check} does not exist in {element}')

enter number to check : 4
4 exist in {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [1]:
# 5. Find the length of a set without using the len() function

In [2]:
set1={1,2,3,4,5}
count=0

for i in  set1:
    count+=1
    
print('length of set is ',count)

length of set is  5

In [3]:
# 6. Clear all elements from a set.

In [5]:
set1={1,2,3,4,5}

x=set1.clear()

set1

set()

In [6]:
# 7. Create a set of even numbers from 1 to 10

In [7]:
set1=set()

for i in range(1,11):
    if i%2==0:
        set1.add(i)
        
set1

{2, 4, 6, 8, 10}

In [8]:
# 8. Create a set of odd numbers from 1 to 10

In [9]:
set2=set()

for i in range(1,11):
    if i%2!=0:
        set2.add(i)
        
set2

{1, 3, 5, 7, 9}

In [10]:
# 9. Find the union of two sets

In [11]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}

union_set=set1.union(set2)

union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# 10. Find the intersection of two sets

In [34]:
set1={1,2,3,4,5}
set2={3,6,7,8,9}

inter=set1.intersection(set2)

inter

{3}

In [14]:
# 11. Find the difference between two sets

In [15]:
set1={1,2,3,4,5,6}
set2={2,3,4,6,7,8,9,10}

diff=set1.difference(set2)

diff

{1, 5}

In [16]:
# 12. Check if a set is a subset of another set.

In [18]:
set1={3,4,5,6,7,8}
set2={3,4,5,10,1,2}

subset_check=set1.issubset(set2)

subset_check

False

In [19]:
# 13. Check if a set is a superset of another set

In [21]:
set1={3,4}
set2={3,4,5,6,7,8,9}

superset=set2.issuperset(set1)

superset

True

In [22]:
# 14. Create a set from a list

In [23]:
lst=[2,1,3,4,12,4,1,2,12]

s=set(lst)

s

{1, 2, 3, 4, 12}

In [ ]:
# 15. Create a list from a set

In [25]:
my_set={2,1,3,1,2,4,6,4,1}

lst=list(my_set)

lst

[1, 2, 3, 4, 6]

In [26]:
# 16. Remove a random element from a set.

In [28]:
import random

set1={1,2,3,4,5}

random_element=random.choice(list(set1))

set1.remove(random_element)

set1

{1, 2, 4, 5}

In [29]:
# 17. Pop an element from a set.

In [30]:
set1={1,2,3,4,5}

pop_element=set1.pop()

set1

{2, 3, 4, 5}

In [32]:
set1.pop()
set1

{3, 4, 5}

In [33]:
# 18. Check if two sets have no elements in common

In [35]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}

common=set1.intersection(set2)

if not common:
    print('no element in common')
else:
    print('element in common')

no element in common

In [36]:
# 19. Find the symmetric difference between two sets.

In [37]:
set1={1,2,3,4,5,6}
set2={3,4,7,8,9,10}

sym_diff=set1^set2

sym_diff

{1, 2, 5, 6, 7, 8, 9, 10}

In [38]:
# 20. Update a set with elements from another set.

In [39]:
set1={1,2,3}
set2={4,5,6}

update=set1.update(set2)

set1

{1, 2, 3, 4, 5, 6}

In [40]:
# 21. Create a set of the first 5 prime numbers.

In [44]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

prime_set=set()
num=2
while len(prime_set)<5:
    if is_prime(num):
        prime_set.add(num)
        
    num+=1
    
prime_set

{2, 3, 5, 7, 11}

In [45]:
# 22. Check if two sets are identical.

In [46]:
set1={1,2,3,4,5}
set2={2,3,5,4,1}

if set1==set2:
    print('sets are identical')
else: 
    print('sets are not identical')

sets are identical

In [47]:
# 23. Create a frozen set

In [50]:
set1={1,2,3,4,5}

froze=frozenset(set1)

froze

frozenset({1, 2, 3, 4, 5})

In [52]:
# 24. Check if a set is disjoint with another set

In [54]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}

check=set1.isdisjoint(set2)

if check:
    print('they have no similar items.')
else:
    print('they have similar items.')

they have no similar items.

In [55]:
# 25. Create a set of squares of numbers from 1 to 5.

In [58]:


sq=set((i**2 for i in range(1,6)))

sq

{1, 4, 9, 16, 25}

In [59]:
# 26. Filter out all even numbers from a set.

In [60]:
set1={1,2,3,4,5}
set2=set()
for i in set1:
    if i%2==0:
        set2.add(i)
        
set2

{2, 4}

In [61]:
# 27. Multiply all elements in a set by 2.

In [62]:
set1={1,2,3,4,5}

multiply=set(i*2 for i in set1)

multiply

{2, 4, 6, 8, 10}

In [63]:
# 28. Create a set of random numbers.

In [65]:
import random

number=5

set_random=set()

for i in range(number):
    ran=random.randint(1,50)
    set_random.add(ran)
    
set_random

{6, 9, 12, 22, 25}

In [66]:
# 29. Check if a set is empty.

In [67]:
set1={}

if not set1:
    print('set is empty')
else:
    print('set is not empty')

set is empty

In [68]:
# 30. Create a nested set (hint: use frozenset).

In [69]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}

froze1=frozenset(set1)
froze2=frozenset(set2)

nested={froze1,froze2}

nested

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [70]:
# 31. Remove an element from a set using the discard method.

In [71]:
set1={1,2,3,4,5}

set1.discard(2)

set1

{1, 3, 4, 5}

In [73]:
# 32. compare two sets

In [80]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}

print(set1.issubset(set2))
print(set2.issubset(set1))
print(set1.union(set2))
print(set1.difference(set2))
print(set2.difference(set1))

False
False
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}

In [81]:
# 33. Create a set from a string

In [82]:
string='data science'

set1=set(string)

set1

{' ', 'a', 'c', 'd', 'e', 'i', 'n', 's', 't'}

In [83]:
# 34. Convert a set of strings to a set of integers

In [86]:
string={'123','212','101'}

int_set=set()

for i in string:
    value=int(i)
    int_set.add(value)
int_set

{101, 123, 212}

In [87]:
# 35. Convert a set of integers to a set of strings

In [88]:
set_int={101, 123, 212}
string=set()
for  i in set_int:
    val=str(i)
    string.add(val)
    
string

{'101', '123', '212'}

In [89]:
# 36. Create a set from a tuple

In [90]:
t=(1,2,1,3,4,5,1,2,6)

set_t=set(t)

set_t

{1, 2, 3, 4, 5, 6}

In [91]:
# 37. Convert a set to a tuple.

In [92]:
set_t={1,2,4,1,3,5,2}

tupl=tuple(set_t)
tupl

(1, 2, 3, 4, 5)

In [94]:
# 38. Find the maximum value in a set.

In [96]:
set1={20,1,13,70,80}

max_value= None

for i in set1:
    if max_value==None or i>max_value:
        max_value=i
max_value

80

In [97]:
# 39. Find the minimum value in a set.

In [98]:
set1={20,1,13,70,80}

minimum=None

for i in set1:
    if minimum==None or i<minimum:
        minimum=i
minimum

1

In [99]:
# 40. Create a set from user input

In [100]:
user_Set=set()
print('type done when finish writing input')
while True:
    user_input=input('enter')
    if user_input=='done':
        break
        
    user_Set.add(user_input)
    
user_Set

type done when finish writing input
enterhello data courses done
enterdone

{'hello data courses done'}

In [101]:
# 41. Check if the intersection of two sets is empty.

In [102]:
set1={1,2,3,4}
set2={5,6,7,8}

inter=set1.intersection(set2)

if inter:
    print('intersection is not empty')
else:
    print('intersection is empty')

intersection is empty

In [103]:
inter

set()

In [104]:
# 42. Create a set of the first 5 Fibonacci numbers

In [105]:
fib=set()
a,b=0,1
for i in range(6):
    fib.add(a)
    a,b=b,a+b
fib

{0, 1, 2, 3, 5}

In [1]:
# 43. Remove duplicates from a list using sets.

In [2]:
lst=[1,2,3,1,4,2,5,1,2,1,2]

set_1=set(lst)

set_1

{1, 2, 3, 4, 5}

In [3]:
# 44. Check if two sets have the same elements, regardless of their count.

In [5]:
def same_elements(set1,set2):
    lst1=sorted(list(set1))
    lst2=sorted(list(set2))
    
    return lst1==lst2

set1={12,13,15,14,12,13}
set2={12,14,13}

result=same_elements(set1,set2)
if result:
    print('sets have same elements')
else:
    print('sets dont have same elements')

sets dont have same elements

In [6]:
# 45. Create a set of the first n powers of 2

In [7]:
def power_2(n):
    power=set()
    
    for i in range(n):
        p=2**i
        power.add(p)
        
    return power
power_2(5)

{1, 2, 4, 8, 16}

In [8]:
# 46. Find the common elements between a set and a list

In [9]:
set1={1,2,3,5,7}

lst=[5,1,9,10]

set2=set(lst)
common=[]
for i in set1:
    if i in set2:
        common.append(i)
        
common

[1, 5]

In [1]:
# 47. Create a set of the first n triangular numbers.

In [2]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [3]:
# 48. Check if a set contains another set as a subset

In [4]:
set1={1,2,3,4,5}
set2={3,4}

subset=set2.issubset(set1)

if subset:
    print('it contains subset')
else:
    print('it does not contain subset')

it contains subset

In [5]:
# 49. Create a set of alternating 1s and 0s of length n.

In [8]:
def alternate(n):
    set1=set()
    for i in range(n):
        if i%2==0:
            set1.add(0)
        else:
            set1.add(1)
    return set1
alternate(10)

{0, 1}

In [9]:
# 50. Merge multiple sets into one.

In [12]:
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}

merge=set1.union(set2,set3)
merge

{1, 2, 3, 4, 5, 6, 7, 8, 9}